<!--
{% extends "base.html" %}
{% block content %}
    <h1>PIC</h1>
    <p class="important">
      Welcome!
    </p>
{% endblock %} -->
<!DOCTYPE html>
<head>
	<h1 style="text-align: center">PIC</h1>
</head>
<body>
	<a href={{pre_id}} 
    style="width:80px;height:50px;color:blue" type="button">Previous </a>
    <!--<img src={{cur_id}}/>-->

    <img src="file:///C:/Users/user/Desktop/485/p1-starter-code-master/p1-starter-code-master/static/images/pa1_images/images/football_s1.jpg"/>

    <a href={{next_id}}  
    style="width:80px;height:50px;color:blue" type="button">Next</a>

</body>